.s1{
    color: #ff6961
}
.s2{
    color: #7ba8d8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.button{
    margin-left: 1%;
    color: #ffb347;
}
#button_hide{
    visibility: hidden;
}